<section id="about" class="about-section">
    <div class="about-container">
        <div class="about-header">
            <h1>Sobre Mim</h1>
            <h5>Desenvolvedor Fullstack Ruby + React</h5>
        </div>
        <div class="about-main-content">
            <div class="about-text">
            Atualmente cursando o 3º período de Engenharia da Computação, busco
            constantemente aprimorar meus conhecimentos na área de
            desenvolvimento de software. Sou pós-graduado em Desenvolvimento
            Fullstack pela Descomplica Faculdade Digital, o que me proporcionou
            uma base sólida em diversas tecnologias modernas.
                <br /><br />
            Minha paixão pela programação encontrou um novo significado quando
            descobri o Ruby on Rails. A elegância e produtividade que o
            framework oferece me intrigaram desde o início, motivando-me a
            mergulhar cada vez mais fundo no ecossistema Ruby e suas tecnologias
            complementares.    
            </div>
            <div class="about-logos">
                <%= image_tag "ruby-svgrepo-com.svg", alt: "Ruby Logo", class: "img1" %>
                <%= image_tag "rails-svgrepo-com.svg", alt: "Rails Logo", class: "img2" %>
            </div>
        </div>
    </div>
</section>