<section id="hero" class="hero-section" >
    <div class="hero-image">
        <%= render "shared/terminal_area" %>
        <div class="hero-image-content-box">
            <h1 class="hero-image-title">Olá, eu sou</h1>
            <h3 class="hero-image-description">Desenvolvedor Fullstack</h3>
            <%= link_to "Download CV", "/Curriculo_EN_Ruby_On_Rails.pdf", class: "hero-image-explore-button" %>
        </div>
    </div>
</section>