<section>
  <div class="about-container" style="overflow: hidden; padding: 8px;">
      <div class="content">
    <h1 class="header1">Projetos</h1>
    <div id="projects" class="team-cards" style="padding: 8px; overflow: hidden;">
      <%= link_to "/" do %>
        <div class="team-cards-card" style="background-image: url('app/images/img/noImage/[160_160]_noImage.svg');">
          <h1 class="team-cards-card-title">Bitcoin Alert</h1>
          <p class="team-cards-card-subtitle">
            CLI app feito em Ruby
          </p>
        </div>
      <% end %>

      <%= link_to "/" do %>
        <div class="team-cards-card" style="background-image: url('app/images/img/noImage/[160_160]_noImage.svg');">
          <h1 class="team-cards-card-title">FinDash</h1>
          <p class="team-cards-card-subtitle">
            Dashboard dinâmico com Ruby
          </p>
        </div>
      <% end %>

      <%= link_to "/" do %>
        <div class="team-cards-card" style="background-image: url('app/images/img/noImage/[160_160]_noImage.svg');">
          <h1 class="team-cards-card-title">ChatBot AI</h1>
          <p class="team-cards-card-subtitle">
            ChatBot com llama3 e Ruby on Rails
          </p>
        </div>
      <% end %>

      <%= link_to "/" do %>
        <div class="team-cards-card" style="background-image: url('app/images/img/noImage/[160_160]_noImage.svg');">
          <h1 class="team-cards-card-title">Blog com Ruby</h1>
          <p class="team-cards-card-subtitle">
            Blog com CMS todo em Ruby on Rails e PostgreSQL
          </p>
        </div>
      <% end %>
    </div>
  </div> 
  </div>
</section>