<div class="terminal-container">
  <div class="terminal-toolbar">
    <div class="butt">
      <button class="btn btn-color"></button>
      <button class="btn"></button>
      <button class="btn"></button>
    </div>
    <p class="user" style="font-size: 0.75rem; color: #fff">joaocosta@admin: ~</p>
  </div>
  <div class="terminal-body">
    <div class="terminal-promt">
      <span class="terminal-user">joaocosta@admin:</span>
      <span class="terminal-location">~</span>
      <span class="terminal-bling">$</span>
      <span class="terminal-cursor"></span>
    </div>
  </div>
</div> 